@model vertibrates.Models.project_table
@{
	ViewBag.Title = "Edit";
}


<h3>@ViewBag.Message</h3>
<div class="panel panel-default">
	<div class="panel panel-heading">Update Insaan Record</div>
	<div class="panel-body">
		@using (Html.BeginForm("Edit", null, FormMethod.Post))
		{
			@Html.HiddenFor(model => model.ID);
			@Html.EditorForModel();
		}
	</div>
</div>

